h1
{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: whitesmoke;
}

form
{
    text-align: center;
}

label
{
    font-size: larger;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color:whitesmoke;
    border-radius: 25px;
    margin-right: 400px;
    margin-left: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}

input
{
    padding: 10px;
    size: 20;
    border-radius: 5px;
}

.color
{
    /*background-color: blue;
    font-size: larger;*/
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
}

/*.input-control
{
    display: flex
}*/

.input-control input
{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.input-control input:focus
{
    outline: 0;
}

.input-control.success input
{
    border-color: #09c372;
}

.input-control.error input
{
    border-color: #ff3860;
}

.input-control .error
{
    color: #ff3860;
    font-size: 16px;
    height: 20px;
}

body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    /*font-family: 'Poppins', sans-serif;*/
}

#preview 
{
    width: 200px;
    height: 200px;
}

.table
{
    background-color: #eee;
    border-collapse: collapse;
}

.table th
{
    color: black;
}

.table td, .table th
{
    padding: 10px;
    border: 2px solid #000 25px;
}