@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,700;1,6..12,200;1,6..12,300;1,6..12,400&display=swap');

body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

h1
{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

.sample
{
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 0rem;
    background-color:whitesmoke;
    border-radius: 25px;
    margin-right: 400px;
    margin-left: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
}

#laps
{
    height: 200px;
    padding: 10px;
    overflow: auto;
}

#laps li
{
    font-size: 22px;
    padding: 10px;
}

#button-start
{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: #33ff39;
    border: none;
    border-radius: 5px;
    justify-content: left;
}

#button-stop
{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: brown;
    border: none;
    border-radius: 5px;
    
}

#button-lap
{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color:cornflowerblue;
    border: none;
    border-radius: 5px;
    justify-content: left;
}

#button-reset
{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color:darkgray;
    border: none;
    border-radius: 5px;
}

span
{
    font-size:xx-large;
    font-family:sans-serif;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

strong
{
    font-size:x-large;
    
}

p
{
    text-align: center;
}