body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

h1
{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

.sample
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color:whitesmoke;
    border-radius: 25px;
    margin-right: 400px;
    margin-left: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#button-start
{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color:chartreuse;
    border: none;
    border-radius: 5px;
}

#button-stop
{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: brown;
    border: none;
    border-radius: 5px;
}

#button-reset
{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color:darkgray;
    border: none;
    border-radius: 5px;
}

span
{
    font-size:xx-large;
    font-family:sans-serif;
    font-weight: 500;
}

strong
{
    font-size:x-large;
}